{# <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    <div class="fossil-div">
      <h3>{{ fossils[0].name }}</h3>
      <h2>Liked {{ fossils[0].num_likes }} times.</h2>
      <img src="{{ fossils[0].img }}" />
    </div>
  </body>
</html> #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Most Liked Fossils</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
  </head>
  <body>
    <h1>Welcome, {{ userName }}</h1>
    <h2>Top Fossils</h2>
    {% for fossilKey, fossilData in fossils %}
      <div class="fossil-div">
        <h3>{{ userName }}, this is a {{ fossilData.name }}</h3>
        <h2>Liked {{ fossilData.num_likes }} times.</h2>
        <img src="{{ fossilData.img }}" alt="{{ fossilData.name }}"/>
      </div>
    {% endfor %}
    <form action="/like-fossil" method="post">
      <label for="fossilSelect">Select a fossil to like:</label>
      <select id="fossilSelect" name="fossilId">
        {% for fossilKey, fossilData in fossils %}
          <option value="{{ fossilKey }}">{{ fossilData.name }}</option>
        {% endfor %}
      </select>
      <button type="submit">Like</button>
    </form>
  </body>
</html>